<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='edit.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='edit.js') }}"
    ></script>
    <!-- <link rel="icon" href="" /> -->
    <title>🧬基因星球丨🪐智慧星球🦠</title>
  </head>

  <body onload="init()">
    <div class="bg-img"></div>
    <div class="navigator">
      <p class="nav-title">基因编辑实验室</p>
      <button onclick="toHome()">返回主页</button>
      <button onclick="to2048()">下一关</button>
      <span>
        <p>时间：</p>
        <p id="nav-time">00 : 00</p>
      </span>
      <span>
        <p>得分：</p>
        <p id="nav-score">0</p>
      </span>
      <button onclick="init()">重新开始</button>
    </div>
  </body>
</html>
